body {
  background-color: #1a1919;
}

#page-title {
  text-align: center;
  color: whitesmoke;
  margin: 7px;
}

.btn-outline-light {
  margin: 5px;
}

.navbar {
  background-color: #1a1919 !important;
}

.bars * {
  display: block;
  width: 3px;
  color: darkorange;
  outline-color: dimgrey;

}

.bar {
  background-color: cornflowerblue;
  margin: 7px;
}

.test-div {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}
