body {
  background-color: #1a1919;
}

#page-title {
  text-align: center;
  color: whitesmoke;
  margin: 7px;
}

.btn-outline-light {
  margin: 5px;
  border-radius: 1px;
}

.navbar {
  background-color: #1a1919 !important;
}

.bars-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 1000px;
  margin: auto;
}

.bar {
  width: 20px;
  background-color: cornflowerblue;
}

.test-div {
  border-color: cornflowerblue;
  background-color: cornflowerblue;
}
